/project/boot
/project/build/target
/project/plugins/target
/project/plugins/src_managed
/project/plugins/project/build.properties
/target
/out
/.idea/
/jribbleCache/
/protobuf-generator/project/boot/
/protobuf-generator/project/build/target/
/protobuf-generator/target/
/lib_managed
/project/plugins/lib_managed
